In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
df=pd.read_csv(r"C:\Users\USER\Desktop\avocado.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Column1       18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

In [6]:
df.describe()

,Column1,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,24.232232,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,15.481045,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.000000,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,10.000000,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,24.000000,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,38.000000,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,52.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

In [7]:
df.head(5)

,Column1,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,12/27/2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,12/20/2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,12/13/2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,12/6/2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,11/29/2015,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

### to know the nal value

In [8]:
df.isna().sum()

Column1         0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

###  if you want to drop a column

In [9]:
df.drop(["4046","4225","4770"], axis = 1, inplace = True)

In [10]:
df. rename(columns = {"Unnamed: 0": "s/n"}, inplace = True)

In [12]:
df

,Column1,Date,AveragePrice,Total Volume,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,12/27/2015,1.33,64236.62,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,12/20/2015,1.35,54876.98,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,12/13/2015,0.93,118220.22,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,12/6/2015,1.08,78992.15,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,11/29/2015,1.28,51039.60,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2/4/2018,1.63,17074.83,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,1/28/2018,1.71,13888.04,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,1/21/2018,1.87,13766.76,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,1/14/2018,1.93,16205.22,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,1/7/2018,1.62,17489.58,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [ ]:
max_volume = df ["Total Volume"]. max()
min_volume = df ["Total Volume"]. min()
Average_volume = df ["Total Volume"]. mean()
Total_volume = df ["Total Volume"]. sum()

In [ ]:
max_volume

In [ ]:
Average_volume

In [ ]:
print("max_volume:", max_volume)

In [ ]:
print("min_volume:", min_volume)

In [ ]:
print("Average_volume:",Average_volume)

In [ ]:
print("Total_volume:",Total_volume)

In [ ]:
print("max_volume:", max_volume)
print("min_volume:", min_volume)
print("Average_volume:",Average_volume)
print("Total_volume:",Total_volume)

In [ ]:
average = df["Total Bags"]. mean()
print("The average is:",average)

In [ ]:
df["Total Bags"]. sum()
print("The average is:",sum)

### how to bring out just two columns

In [ ]:
df1 = df[["type", "AveragePrice"]]

In [ ]:
df1

In [ ]:
### how to count a value on a column

In [ ]:
df["type"].value_counts()

In [ ]:
### how to filter data out , using the index number and value number

In [ ]:
.loc [2, 4
'loc[2:,2:]it shows from 2upward

In [ ]:
df.iloc[:4,2]

In [ ]:
df.iloc[2,4]

In [ ]:
df.iloc[2:,4]

In [ ]:
####  to filter out a specific word in a column 

df.loc[df["type"]=="organic"]

In [ ]:
### to bring out two value or two data from data frame 
we make use of groupby

In [ ]:
df.groupby(["region"])[["Total Bags"]]

In [ ]:
#### 
df.groupby(["region"])[["Total Bags"]].sum()

In [ ]:
##### how to add new column

In [ ]:
df["Price"]=df["AveragePrice"] * df["Total Bags"]

In [ ]:
df

In [ ]:
df.shape()